{% extends "Articles/Layout.html" %}

{% block content %}
    <body class="container"></body>
        <div class="row">
            <div class="col">
                <h1>Détails de l'Article : {{ article.title }}</h1>
                <p><strong>ID :</strong> {{ article.id }}</p>
                <p><strong>Titre :</strong> {{ article.title }}</p>
                <p><strong>Résumé :</strong> {{ article.sumary }}</p>
                <p><strong>Date de Publication :</strong> {{ article.date_pub }}</p>
                <p><strong>Contenu :</strong> {{ article.content }}</p>
                
            </div>

            <div class="col">
                {% if article.cover %}
                    <p><strong>Image :</strong> <img src="{{ article.cover.url }}" alt="{{ article.title }}" class="img-fluid"></p>
                {% endif %}
                <a href="{% url 'List_articles' %}" class="btn btn-secondary">Retour à la liste</a>
                <hr>
                <p>{{ article.user.get_full_name }}</p>
                {% if user.is_authenticated and user == article.user %}
                    <a href="{% url 'update_article' article.id %}" class="btn btn-info">Modifier</a>
                    <a href="{% url 'delete_article' article.id %}" class="btn btn-danger">Supprimer</a> 
                {% endif %}
                {% if user.is_authenticated %}
                    <form action="{% url 'add-comment' article.id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-10 offset-1">
                                <table>
                                    {{ form }}
                                </table>
                            </div>
                            <div></div>
                            <p>
                                <button class="btn btn-primary">Enregistrer</button>
                            </p>
                        </div>
                
                    </form>
                {% endif %}

                {% for comment in article.comment_set.all %}
                    <div class="row">
                        <div class="col">
                            <div class="card text-bg-light mb-3" style="max-width: 18rem;">
                                <div class="card-header">{{ comment.owner.get_full_name }}</div>
                                <div class="card-body">
                                <h5 class="card-title">{{ comment.created_at }}</h5>
                                <p class="card-text">{{ comment.content }}</p>
                                </div>
                            </div>              
                        </div>
                    </div>
            
                {% endfor %}

            </div>

        </div>
    </body>
{% endblock content %}
